$font2: 'DM Serif Display', serif;
$font1: 'Inter', sans-serif;


$body_font_size: 20px;
$heading1_size: 75px;
$heading2_size: 42px;
$heading3_size: 32px;
$heading4_size: 24px;



$regular: 400;
$medium: 500;
$semi_bold: 600;
$bold: 700;
$extra_bold: 800;
$black: 900;



$primary_color: #5C5B79;
$secondary_color: #161540;
$heighlight_color: #F23936;

$theme_bg1: rgba(242, 57, 54, 0.03); 
