/*
============================
Name:  Consultic - Business Consulting Theme
Version: 1.0.0
Description: 
Author: Sujon mahamud
Author URI: 
Location: 
============================
*/

@import 'variables';
@import 'typography';

@import 'responsive';
@import 'common';
@import 'preloader';
@import 'components/header';
@import 'components/hero';

