.welcome-area {
     display: flex;
     align-items: center;
     height: 850px;
 }

 .hero-img-elements {
     height: 700px;
     display: flex;
     align-items: center;
     justify-content: end;
     margin-right: -100px;
 }